<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" >Second Component</a></li>
    <li><a routerLink="./home" routerLinkActive="active" ariaCurrentWhenActive="page" >Homes</a></li>
    <li><a routerLink="./contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

